<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:16</td>   <td>0</td> <td title="&gt;&gt;TC1_Test.setUp()[pri:0, instance:test.java.TC1_Test@66a3ffec]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:28</td>   <td>11967</td> <td>&nbsp;</td><td title="&gt;&gt;TC1_Test.beforeTest()[pri:0, instance:test.java.TC1_Test@66a3ffec]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:34</td>   <td>17970</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_Test.beforeClass()[pri:0, instance:test.java.TC1_Test@66a3ffec]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:34</td>   <td>17975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_Test.beforeMethod()[pri:0, instance:test.java.TC1_Test@66a3ffec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:34</td>   <td>17975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_Test.TC1_Add()[pri:0, instance:test.java.TC1_Test@66a3ffec]">TC1_Add</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:56</td>   <td>40294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_Test.afterMethod()[pri:0, instance:test.java.TC1_Test@66a3ffec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:56</td>   <td>40294</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_Test.afterClass()[pri:0, instance:test.java.TC1_Test@66a3ffec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:56</td>   <td>40295</td> <td>&nbsp;</td><td title="&lt;&lt;TC1_Test.afterTest()[pri:0, instance:test.java.TC1_Test@66a3ffec]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>17/12/14 17:07:56</td>   <td>40376</td> <td title="&lt;&lt;TC1_Test.tearDown()[pri:0, instance:test.java.TC1_Test@66a3ffec]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
</table>
